# Python cache and compiled files
__pycache__/
*.pyc

# Virtual environment
venv/

# VS Code settings
.vscode/

# Environment variables
.env

# SQLite database file
mx_app.db

# Logs
*.log

# Ignore environment files
.env
